# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Output files
*.csv
*.txt
*.jsonl
*.png
*.json
!queries.csv 
# need queries.csv for testing queries

# macOS
.DS_Store
